{{- define "errors" }}
//
// Custom Errors
//

{{ range $err := .Errors -}}
var {{ $err.Name }} = newError({{ $err.Code }}, {{ $err.Status }}, "{{ $err.Message }}")
{{ end }}
// Default Errors

var (
	ErrUnsupportedMediaType  = newError(-1, http.StatusUnsupportedMediaType, "unsupported media type")
	ErrServiceMethodNotFound = newError(-2, http.StatusNotFound, "service method not found")
	ErrMissingFilesField     = newError(-3, http.StatusBadRequest, "missing files field")
	ErrMissingPayloadName    = newError(-4, http.StatusBadRequest, "missing payload field")
	ErrMethodNotAllowed      = newError(-5, http.StatusMethodNotAllowed, "method not allowed")
	ErrInternal 			 = newError(-6, http.StatusInternalServerError, "internal server error")
)

{{- end }}