{{- define "imports" -}}

//
// Imports
//

import (
	"bytes"
	"context"
	"crypto/rand"
	"encoding/json"
	"errors"
	"fmt"
	"io"
	"log/slog"
	"mime/multipart"
	"net/http"
	"net/url"
	"path"
	"reflect"
	"strconv"
	"strings"
	"time"

	"ella.to/sse"
)

func init() {
	if sse.Version < "0.0.7" {
		panic("ella.to/sse version must be at least v0.0.7")
	}
}
{{ end -}}

