{{- define "imports" -}}

//
// Imports
//

import (
	"bytes"
	"context"
	"encoding/json"
	"errors"
	"fmt"
	"io"
	"mime/multipart"
	"net/http"
	"strings"
	"time"

	"ella.to/sse"
)

func init() {
	_ = time.Time{}
	if sse.Version < "0.0.7" {
		panic("ella.to/sse version must be at least v0.0.7")
	}
}
{{ end -}}

